<!DOCTYPE html>
<html lang="en">

<head>
       
    <meta charset="UTF-8">
       
    <link rel="stylesheet" href="">
        <title>File Manager</title>
</head>
<style>
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: linear-gradient(black, darkblue);
    }

    #loginForm {
        display: flex;
        flex-direction: column;
        color: #666666;
    }

    .j {
        margin: 5px;
    }
</style>

<body>
        {{{body}}}

</body>

</html>