<!DOCTYPE html>
<html lang="en">

<head>
       
    <meta charset="UTF-8">
       
    <link rel="stylesheet" href="">
        <title>File Manager</title>
</head>
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 98vh;
        background-image: linear-gradient(black, #7700cc);
    }

    #message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1vw;
        background-image: radial-gradient(#7700cc, #3333cc);
        border-radius: 5vh;
    }

    #message>a {
        font-size: x-large;
        color: white;
        text-decoration: underline overline;
        text-align: center;
    }

    .j {
        margin: 5px;
    }

    #backButton {
        cursor: pointer;
    }
</style>

<body>
        {{{body}}}

</body>

</html>