<div id="leftMargin">
    <div>
        <h2 style="display: flex;justify-content:center">filemanager</h2>
        <form style="display: flex;justify-content:center" method="post" action="deleteAll">
            <input type="submit" value="USUŃ DANE O PLIKACH Z TABLICY"
                style="border:none; background-color:inherit; color:#999999; text-decoration:underline; font-weight:bold">
        </form>
    </div>
</div>
<div id="content">
    <div id="filesTable">
        <div class="filesRow" style="background-color: cornflowerblue; height:5vh; color:cornsilk">
            <div class="fileColumn" style="color:inherit">ID</div>
            <div class="fileColumn" style="color:inherit">OBRAZ</div>
            <div class="fileColumn" style="color:inherit">NAME</div>
            <div class="fileColumn" style="color:inherit">SIZE</div>
            <div class="fileColumn" style="color:inherit">TYPE</div>
            <div class="fileColumn" style="color:inherit">-</div>
            <div class="fileColumn" style="color:inherit">-</div>
            <div class="fileColumn" style="color:inherit">-</div>
        </div>
        {{#each files}}
        {{>table}}
        {{/each}}
    </div>
</div>