<div id="leftMargin">
    <h2 style="display:flex;display: flex;justify-content:center">multiupload</h2>
</div>
<div id="content">
    <div style="padding-left: 5vw;padding-top:5vh">
        <form id="sendForm" method="get" action="fileUpload" enctype="multipart/form-data">
            <input type="file" name="fileToUpload" id="fileToUpload" multiple>
            <input type="submit" value="Upload" name="submit">
        </form>
    </div>
</div>