<h1 style="color: #262626;">To jest strona logowania</h1>
<form method="post" action="login" id="loginForm">
    <j class="j">Login:
        <input name="login" type="text" />
    </j>
    <j class="j">Hasło:
        <input name="password" type="password" />
    </j>
    <input name="bt1" value="Zaloguj" type="submit" />
</form>